* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
  padding: 0 8%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #13293d;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;

  color: #e8f1f2;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #e8f1f2;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

label {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  align-self: flex-start;
}

#sexo{
  font-size: 24px;
}

p.small {
  font-size: 16px;
  line-height: 20px;
}

.cadastro {
  display: flex;
  align-items: baseline;
  gap: 10px;
  color: #e8f1f2
}

.button-cadastro {
  background-color: #e8f1f2;
  height: 44px;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
}

.blue-div {
  width: 50vw;
  height: 64vh;
  margin: 70px auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #006494;
  color: #e8f1f2;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #e8f1f2;
}

.form-cadastro {
  width: 50vw;
  margin: 3vw auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 45px;
  
}

.input-box {
  width: 489px;
  height: 32px;
  font-size: 24px;
}

.input-cadastro {
  width: 489px;
  height: 56px;
  font-size: 24px;
}

.button {
  width: 197px;
  height: 63px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px;
  border-color: #e8f1f2;
}

.esqueci-senha {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;

  color: #ffffff;
}

.esqueceu-senha {
  margin-bottom: 50px;
}

#pag-cadastro{
  color: black;

}

.select-sexo{
  width: 500px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.campos-cadastro{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 45px;
}
.error{
  color: #FF3300;
}

#carrinho {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #e8f1f2;
  font-size: 50px;
  text-decoration: none;
}

.barra-categorias{
  height: 50px;
  background-color: #CDCDCD;
  
  font-weight: 500;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.categoria{
  text-decoration: none;
  color: black;
}

.categoria:hover{
  color: #404040;
}

.produtos{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 8px;
}

.produto-card {
  height: 405px;
  width: 320px;
  padding: 2px;
  color:black;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.produto-card:hover {
  border: 1px solid #CDCDCD;
}

img{
  height: 283px;
  width: 305px;
}

#nome-produto{
  font-weight: 500;
  max-height: 72px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout{
  color: #e8f1f2;
  background-color: #13293d;
  border: none;
  font-weight: 500;
  text-decoration: underline;
  font-size: large;
}

.carrinho-logout{
  width: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#cad-produto{
  display: flex;
  flex-direction: column;
  align-items: center;
}