<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Recupere sua senha</title>
  </head>
  <body>
    <header>
      <h1>Houston Peças</h1>
    </header>
    <div class="blue-div" id="esqueci-senha">
      <h2 class="esqueceu-senha">Esqueceu sua senha?</h2>
      <div>
      <p class="small">Informe seu e-mail abaixo para recuperarmos sua conta:</p>
      <form class="form-login">
        <input type="email" id="email" name="email" class="input-box" />
        <input type="submit" value="Continuar" class="button" />
      </form>
    </div>
    </div>
  </body>
</html>
