<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Houston Peças</title>
  </head>
  <body>
    <header>
      <h1>Houston Peças</h1>
      <div class="cadastro">
        <p>Ainda não tem acesso? Compre com a gente!</p>
        <a class="button-cadastro">Cadastre-se</a>
      </div>
    </header>
      <div class="blue-div">
        <h2>Já é nosso cliente?</h2>
        <p class="small">Faça seu login e boas compras!</p>
        <form class="form-login" action="/login" method="post">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" class="input-box"/>
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" class="input-box"/>
            <input type="submit" value="Entrar" class="button"/>
        </form>
        <a href="/esqueciSenha" class="esqueci-senha">Esqueci minha senha</a>
      </div>
      <div>
        {{MSG|safe}}
      </div>
  </body>
</html>
